.navbar {
    display: flex;
    flex-direction: column;
    border-bottom: 0.10px solid rgb(212, 212, 212);
}

.navbar_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.navbar_a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar_search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: x-large;
}

.language_select {
    width: 65px;
    font-size: 14px;
    border: none;
}

.navbar_bottom {
    display: flex;
    justify-content: center;
}

.navbar_links {
    justify-self: center;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    list-style: none;
    font-size: 20px;
    letter-spacing: 1px;
}

.dragdown {
    display: none;
}

@media only screen and (max-width: 425px) {
    .navbar {
        padding: 0px;
    }

    .navbar_top {
        padding: 0px;
    }

    .navbar_logo a {
        display: none;
    }

    .navbar_links {
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
        gap: 10px;
    }

    .navbar_links li {
        display: none;
        text-align: center;
    }

    .navbar_links_active li {
        display: flex;
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
        gap: 10px;
        list-style: none;
    }

    .navbar_links_active .dragdown {
        justify-self: center;
    }

    .dragdown {
        display: block;
        transition: transform 1s ease-in-out;
    }

    .goUp{
        transform: rotate(180deg);
        transition: transform 1s ease-in-out;
    }
}

@media only screen and (max-width: 768px) {
    .navbar_links{
        width: 70%;
    }

    .navbar_a{
        font-size: small;
    }
}